.sBbkle {
  height: auto !important;
}

.nnav {
  margin-top: 8px;
}

.smaller {
  --link-height: 40px;
  --link-height-small: 33px;
}

.smaller .nnav-link {
  height: var(--link-height-small) !important; 
}

.smaller:not(.nnav) .nnav-link {
  margin-top: calc((var(--link-height) - var(--link-height-small)) / 2) !important;
  margin-bottom: calc((var(--link-height) - var(--link-height-small)) / 2) !important;
}

.smaller .nnavico {
  height: 12px !important;
  width: auto !important;
}
