svg {
  color: color-mix(in srgb, var(--arc-palette-foregroundPrimary), var(--arc-palette-foregroundSecondary) 75%) !important;
  /* color: var(--arc-palette-foregroundSecondary) !important; */
}

/*  highlighted text/links  */
.r-1cvl2hr, a.css-901oao.r-poiln3, 
[data-testid="sidebarColumn"] a>div.css-901oao.r-37j5jr.r-a023e6.r-16dba41.r-rjixqe.r-bcqeeo.r-qvutc0 { 
  color: color-mix(in srgb, var(--arc-palette-foregroundPrimary), var(--arc-palette-foregroundSecondary) 75%) !important;
  /* color: var(--arc-palette-foregroundSecondary) !important; */
}

/* line under "for you" */
.css-1dbjc4n.r-1kihuf0.r-sdzlij.r-1p0dtai.r-xoduu5.r-hdaws3.r-s8bhmr.r-u8s1d.r-13qz1uu {
  background: color-mix(in srgb, var(--arc-palette-foregroundPrimary), var(--arc-palette-foregroundSecondary) 75%) !important;
}


/*  tweet button  */
.r-l5o3uw, 
.r-1vtznih, /* hover */
a.css-4rbku5.css-18t94o4.css-1dbjc4n.r-sdzlij.r-1phboty.r-rs99b7.r-1waj6vr.r-1loqt21.r-19yznuf.r-64el8z.r-1ny4l3l.r-o7ynqc.r-6416eg.r-lrvibr /* tweet button before hover */
{
  background: var(--arc-palette-foregroundSecondary) !important;
}
/* svg white */
.r-l5o3uw svg, .r-1vtznih svg, 
a.css-4rbku5.css-18t94o4.css-1dbjc4n.r-sdzlij.r-1phboty.r-rs99b7.r-1waj6vr.r-1loqt21.r-19yznuf.r-64el8z.r-1ny4l3l.r-o7ynqc.r-6416eg.r-lrvibr svg /* tweet button before hover */
{
  color: #ffffff !important;
}

a[href='/i/twitter_blue_sign_up'] {
  display: none;
}

